<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>jimmer.cash</title>
</head>
<body style="height: 100%">
<div class="containerin">

    <div class="login">
        <div class="login-heading">
            Do you want to make money from your phone on autopilot?
        </div>
        <p></p>
        <p>It's easier than you think...</p>
        <p></p>
        <form method="post">
            <input type="text" name="user" placeholder="Enter your Name" required="required" class="input-txt"/>
            <input type="email" name="email" placeholder="Enter your Email" required="required" class="input-txt"/>
            <div class="login-footer">
                <button type="submit" class="btn draw-border">
                    <span>Get access</span>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>