<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <meta charset="UTF-8">
    <title>jimmer.cash</title>
</head>
<body>
<div class="container">

    <div class="login">
        <div class="login-heading">
            How I made $200K in the past 4 months using this 1 strategy
        </div>
        <p></p>
        <p>It's easier than you think...</p>
        <p></p>
        <form method="post">
            <input type="text" name="user" placeholder="Enter your Name" required="required" class="input-txt"/>
            <input type="email" name="email" placeholder="Enter your Email" required="required" class="input-txt"/>
            <div class="login-footer">
                <button type="submit" class="btn draw-border">
                    <span>Get access</span>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>