<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" type="image/ico" href="{{ url_for('static', filename='img/favicon.ico') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta charset="UTF-8">
    <title>tradewithspenser.com</title>
</head>
<body style="min-height: 97vh">
<div class="containerin">

        <div class="login-heading">
            See how I make money on AUTOMATION in my sleep
        </div>
        <p></p>
        <p>Yes it's real, and it's easier than you think</p>
        <p></p>
        <div class="login">
        <form method="post">
            <input type="text" name="user" placeholder="Enter your Name" required="required" class="input-txt"/>
            <input type="email" name="email" placeholder="Enter your Email" required="required" class="input-txt"/>
            <div class="login-footer">
                <button type="submit" class="btn draw-border">
                    <span>Get access</span>
                </button>
            </div>
        </form>
    </div>
</div>
</body>
</html>